# pycache
__pycache__
# Tests scripts
sandbox
argo_profile_check.py
# Data saving folders
bgc_figs
bgc_data
# virtual environemnt
.venv
.vscode
.venv/
.virtual_env/

# config file
config/*.toml

config/*Zone.Identifier
src/bgc_data_processing/providers/*Zone.Identifier
tools/*Zone.Identifier

